<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889678604-e4gplsg14ud589sni7kcuo7sqjll04b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889678604-e4gplsg14ud589sni7kcuo7sqjll04b4</string>
	<key>API_KEY</key>
	<string>AIzaSyBdMJPiRtbrVAlci5ZZV2WghvJZJj_67Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>889678604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs.living</string>
	<key>PROJECT_ID</key>
	<string>cs-living-a4620</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-living-a4620.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889678604:ios:894d98eb0858964c907729</string>
	<key>DATABASE_URL</key>
	<string>https://cs-living-a4620.firebaseio.com</string>
</dict>
</plist>